@charset 'utf-8';

/**
 * @Title  安丽文-个人中心
 * @Author a_bing
 * @Date   2016-02-22
 * @email  ia_bing@163.com
 * @note   安丽文-版权所有
 */

 /* css format */
 body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,legend,button,form,fieldset,input,textarea,p,blockquote,th,td,img{
    padding:0;
    margin:0;
    border:0;
 }
 body { font: 12px/1.5 'Microsoft YaHei','宋体',arial,sans-serif; color:#555; }
 html,body {overflow-x:hidden;}
 h1,h2,h3,h4,h5,h6 { font-weight: normal; font-size: 100%; }
 table { border-collapse:collapse; border-spacing:0; }
 input,select,textarea,button { outline:none; }
 input,img,select { vertical-align:middle; }
 input[type='submit'],input[type='button'],input[type='reset'],a,button,label { cursor: pointer; }
 input[disabled] { cursor:default; }
 ul,ol { list-style:none; }
 a {text-decoration:none; outline: none;}
 a:link,a:visited,a:active {color: #333;}
 a:hover {color: #3B92FB;}

/* index.html */
.utop {height: 38px;line-height: 38px;background: #379bff;text-align: right;color:#fff;}
.utop span {float: left;width: 331px;height: 17px;margin-top: 10px;display: inline-block;background: url(../images/top-text.png) no-repeat;}
.utop a,.utop a:link,.utop a:visited,.utop a:active {color:#fff;}
.utop a:hover {text-decoration: underline;color:#fff;}
header {padding:10px 0;height: 58px;line-height: 58px; text-align: right; border-bottom: 1px solid #3B92FB;}
header .logo-a {float: left; display: block;width: 233px;height: 58px;background: url(../images/logo.png) no-repeat;}
header .logout-a {margin:0 30px 0 10px; color:#3B92FB;}
header .logout-a:hover {text-decoration: underline;}
header a i {font-size:16px;font-style: normal;}

.mleft {float: left;width: 230px;padding:15px;background: #EEF4FA;}
.mltBox {width: 230px;}
.mlImg {float: left;width: 137px;text-align: center;}
.mlImg img {width: 137px;height: 137px;}
.mlImg a {display: block;width: 100%;height: 26px;line-height: 26px;color:#fff;background: #FDDBD9;border-radius:5px; margin-top: 5px;}
.mlImg a:hover {background: #EDAFAA;}
.mlName {float: right;width: 80px;}
.mlName h2 {color:#F1963D;font-size: 16px;padding: 8px 0;}
.mlName p {line-height: 2;}
.mlbBox {margin-top: 10px;}
.mlbBox p {text-align: center;line-height: 1.8;}

.mright {float: right;width: 920px;}
.navUl {background: #3B92FB;position: relative;width: 920.5px;}
.navUl li {float: left;}
.navUl li > a {display: block;width: 131.5px;height:45px;line-height: 45px;text-align: center;color:#fff; font-weight: bold;font-size: 16px;background: #3B92FB;}
.navUl li div {position: absolute;top:45px;right:0;background: #EEF4FA; padding:12px 18px;width: 884px;}
.navUl li div a {font-size: 14px;margin:0 20px;}
.subNav {display:none;}
#curNav {color:#3B92FB;background: #EEF4FA;}
.curSubNav,.curSubNav:link,.curSubNav:visited,.curSubNav:hover,.curSubNav:active {color:#3B92FB;}
.mContainer {margin-top: 60px;}

footer {height: 60px;padding:25px 0; background: #3B92FB;margin-top: 30px;}
.fLeft {width: 230px;height: 42px;margin-top: 9px;background: url(../images/flogo.png) no-repeat; float: left;}
.fRight {width: 750px;float: right;}
.fRight p {color:#fff;text-align: right;line-height: 2.5;}
.fRight p a,.fRight p a:link,.fRight p a:visited,.fRight p a:active {color:#fff;}
.fRight p a:hover {color:#fff; text-decoration: underline;}
/* jbzl.html 基本资料 */
.wrapBox {}
.infoH2 {font-size: 18px;color:#666;text-align: center;margin: 25px; padding-top: 20px;}
.infoBox {width: 878px;padding:0 20px;border:1px solid #3B92FB; border-radius:3px;}
.infoForm label {display: block;margin:20px 0; font-size: 16px;color:#666;}
.infoForm label input[type='text'] {width: 320px;height: 25px;line-height: 25px;padding:0 6px;font-size: 14px;color:#666; border:1px solid #ccc;margin-left: 10px;}
.infoForm label select {min-width: 200px;min-height: 28px;border: 1px solid #e0e0e0;margin-left: 10px; margin-right: 10px;}
.infoForm label textarea {width: 660px;height: 100px;padding:5px 10px;border:1px solid #ccc;font-size: 14px;color:#666;line-height: 1.6;margin-left: 10px;}
.infoForm label input[type='submit'] {display: block;margin-left: 91px;width: 140px;height: 40px;font-size: 14px;color:#fff;line-height: 40px;text-align: center;background: #3B92FB; border-radius: 3px;}
.infoForm label input[type='submit']:hover {opacity: .8;filter:alpha(opacity=80);}

/* wdtx.html 我的头像 */
.userPhotoBox { width:560px; height:auto; margin:0 auto; background: #fff; padding:20px; z-index:9999; box-shadow: 0 0 8px rgba(0,0,0,.2); }
/*.userCloseBtn { position:absolute; top:10px; right:10px; width:13px; height:15px; display: block;
    background: url(images/uc_sprite.gif) no-repeat -260px -25px; text-indent: -999px; }
.closeBtn:hover { background-position:-273px -25px;  }*/
.userPhotoP { height: 30px; border-bottom:2px solid #e6e6e6; margin:10px 0 20px; }
.localSpan,.systemSpan { display: inline-block; height: 30px; line-height: 30px; cursor: pointer; width:100px; text-align: center; color:#a5a5a5; font-size: 14px; font-weight: bold; }
.curPhotoSpan { color:#3B92FB; border-bottom: 2px solid #3B92FB; }
.localDiv { min-height: 400px; position: relative; }
.photoFileInputP { height: 250px; text-align: center; }
.photoFileSpan { margin-top:160px; display: inline-block; width:102px; height:34px; background: url(../images/upFileBtn.png) no-repeat; }
.photoFileInput { display: inline-block; width:102px; height:34px; opacity: 0; filter:alpha(apacity=0); z-index:10000; }
#btnCrop {  padding:8px 15px; font-size: 14px; color:#fff; background: #3B92FB; margin-top:20px; border-radius: 3px;}
#btnCrop:hover { background: #2486FA; }
    /* jcrop */
    .jcrop-holder{text-align:left;}
    .jcrop-vline, .jcrop-hline{font-size:0; position:absolute; background:white url('images/Jcrop.gif') top left repeat;}
    .jcrop-vline{height:100%; width:1px !important;}
    .jcrop-hline{width:100%; height:1px !important;}
    .jcrop-handle{font-size:1px; width:7px !important; height:7px !important;   border:1px #eee solid; background-color:#333; *width:9px; *height:9px;}
    .jcrop-tracker{width:100%; height:100%;}
    .custom .jcrop-vline,.custom .jcrop-hline{background:yellow;}
    .custom .jcrop-handle{border-color:black; background-color:#C7BB00; -moz-border-radius:3px; -webkit-border-radius:3px;}
    .crop_preview{position:absolute; left:0px; bottom:40px; width:100px; height:100px; overflow:hidden;}
.systemP { margin:0 0 20px 0; }
.systemP span { display: inline-block; padding:3px 10px; text-align: center; background: #E6E6E6; margin-right:10px; cursor: pointer; }
.systemP span:hover { color:#3B92FB; }
.curSystemSpan { color:#3B92FB; }
.systemCase img { display: block; float:left; width:95px; height:95px; padding:2px; border:1px solid #CCCCCC; margin:0 10px 10px 0; cursor: pointer; }
#cursystemimg { border:1px solid #3B92FB; }
.systemSaveP { margin-top:5px; }
.systemSave { display: inline-block; padding:5px 15px; text-align: center; border-radius:3px;background: #3B92FB; cursor: pointer; margin-right: 15px; font-size: 14px; color:#fff; }
.systemSave:hover { background: #2486FA; }
.systemCancle { display: inline-block; padding:4px 14px; border:1px solid #DDDDDD;border-radius:3px; text-align: center; cursor: pointer; margin-right: 15px; font-size: 14px; }
.systemCancle:hover { background: #fafafa; }

#picture_original {width:560px; height:auto;overflow:hidden;margin-bottom: 20px;}
#picture_200 {margin-right:10px;width:100px;height:100px;float: left;}
#picture_50 {margin-right:10px;width:70px;height:70px;float: left;}
#picture_30 {margin-right:10px;width:30px;height:30px;float: left;}

/* xgmm.html 修改密码 */
.modifytop {font-size: 14px;font-weight: bold;margin-bottom: 25px;padding-top: 10px;}
.modify-p1 {width: 466px;height: 40px;background: url(../images/ustep1.png) no-repeat; margin:0 auto 30px;}
.modify-p2 {width: 466px;height: 40px;background: url(../images/ustep2.png) no-repeat; margin:0 auto 30px;}
.modify-p3 {width: 466px;height: 40px;background: url(../images/ustep3.png) no-repeat; margin:0 auto 30px;}
.modify-table {width: 610px;margin:0 auto; font-size: 16px; color:#666;}
.modify-table tr td,.modify-table tr th {padding:8px 5px;}
.modify-table tr th {font-weight: normal;text-align: right;}
.modify-table tr td strong {color:#111;font-size: 14px;}
.modify-table tr td span {margin-left: 10px;font-size: 12px;}
.modify-table tr td input[type="text"],.modify-table tr td input[type="password"] {width: 165px;padding: 0 10px;height: 35px;line-height: 35px;border:1px solid #ccc;border-radius:2px;font-size: 16px;}
.modify-table tr td img {width: 100px; height: 30px;display: inline-block;vertical-align: middle;cursor:pointer;}
#getCodeBtn {display:inline-block;width: 125px;cursor:pointer;height: 35px;line-height: 35px;border:1px solid #ccc;background: #F5F5F5;font-size: 14px;text-align: center;}
#getCodeBtn:hover {background: #E8E8E8;}
.modify-table tr td input[type="submit"] {width: 80px;height: 30px;line-height: 25px;text-align: center;color:#fff;background: #FF4949;border-radius: 3px;font-size: 14px;}
.modify-table tr td input[type="submit"]:hover {background: #F23B3B;}
.modify3H1 {font-size: 24px;font-weight: bold;color:#4fc401; margin:50px auto;text-align: center;}
.modify3p2 {text-align: center;}
.modify3p2 a {width: 80px;height: 30px;line-height: 30px;text-align: center;color:#fff;background: #C8C8C8;border-radius: 3px;font-size: 14px;display: inline-block;}
.modify3p2 a:hover {background: #B9B9B9;}

.infoTips h3 {font-size: 24px;font-weight: bold;padding-top: 20px;margin-bottom: 5px;}
.infoTipsP1 {}
.infoTipsP2 {margin:40px 0;}
.infoTipsP2 a {display: block;width: 135px;height: 42px;line-height: 42px;background: #379BFF;text-align: center;color:#fff; font-size: 14px;border-radius: 3px;}
.infoTipsP2 a:hover {color:#fff;background: #4BA5FC;}
.infoTipsB {margin-bottom: 20px;}
.infoTips .infoTipsa {margin:0 0 0 5px; color:#3B92FB;}
.infoTips .infoTipsa:hover {text-decoration: underline;}

/* 登录记录 */
.logoinRH2 {background: url(../images/iconfont-9.png) no-repeat 0 3px; text-indent: 1.5em;font-size: 18px;font-weight: bold;color:#666;margin-bottom: 5px;}
.logoinRH2s {background: url(../images/iconfont-tanhao.png) no-repeat 0 3px; text-indent: 1.5em;font-size: 18px;font-weight: bold;color:#666;margin-bottom: 5px;}
.dljl-div {margin-top: 60px;}
.dljl-div p {margin-bottom: 20px;font-size: 14px;}
.dljl-table {width: 660px;border-left:1px solid #E0E0E0; border-right: 1px solid #E0E0E0;color:#666;text-align: center;}
.dljl-table tr th,.dljl-table tr td {padding:8px 2px; border-top:1px solid #E0E0E0; border-bottom: 1px solid #E0E0E0;}
.dljl-table tr th {background: #F0F0F0;font-weight: bold;}
.infoDemoa,.infoDemoa:link,.infoDemoa:visited,.infoDemoa:active {margin:0 3px; color:#3B92FB;}
.infoDemoa:hover {text-decoration: underline;}

/* wlzm.html 我的订单-往来账目 */
.zmP {height: 35px;line-height: 35px;background: #3B92FB;padding:0 20px; color:#fff;font-size: 14px;}
.zmP b {color:#FD4444; margin-left: 10px;}
.zmP a {float: right;font-weight: bold;}
.zmP a:link,.zmP a:visited,.zmP a:active {color:#fff;}
.zmP a:hover {text-decoration: underline;}
.zmTable {width: 100%;}
.zmTable tr th,.zmTable tr td {padding:8px; border:1px solid #CED7DF; text-align: center;}
.zmTable tr td:nth-child(3) {text-align:left;padding:8px 10px;}

/* fwht.html 我的订单-服务合同 */
.orderNav {width: 940px; margin-left:-10px;}
.orderNav ul li {width: 168px;height: 115px; margin:10px; float: left;border-radius: 5px; }
.orderNav ul li:hover {opacity:.8; filter:alpha(opacity=80);}
.orderNav ul li a {display: block; width: 100%;height: 100%; text-align: center;color:#fff; line-height: 180px;font-size: 18px;}
.orderNav ul li:nth-child(1) {background: #5496C0;}
.orderNav ul li:nth-child(2) {background: #38B5D2;}
.orderNav ul li:nth-child(3) {background: #F2AE43;}
.orderNav ul li:nth-child(4) {background: #DC6F87;}
.orderNav ul li:nth-child(5) {background: #B379D4;}
.orderNav ul li:nth-child(6) {background: #DC6F87;}
.orderNav ul li:nth-child(7) {background: #D7BF7C;}
.orderNav ul li:nth-child(8) {background: #51C291;}
.orderNav ul li:nth-child(9) {background: #28A9E3;}
.orderNav ul li:nth-child(10)  {background: #E18855;}
.orderNav ul li:nth-child(1) a {background: url(../images/uicon01.png) no-repeat center 13px;}
.orderNav ul li:nth-child(2) a {background: url(../images/uicon02.png) no-repeat center 13px;}
.orderNav ul li:nth-child(3) a {background: url(../images/uicon03.png) no-repeat center 13px;}
.orderNav ul li:nth-child(4) a {background: url(../images/uicon04.png) no-repeat center 13px;}
.orderNav ul li:nth-child(5) a {background: url(../images/uicon05.png) no-repeat center 13px;}
.orderNav ul li:nth-child(6) a {background: url(../images/uicon06.png) no-repeat center 13px;}
.orderNav ul li:nth-child(7) a {background: url(../images/uicon07.png) no-repeat center 13px;}
.orderNav ul li:nth-child(8) a {background: url(../images/uicon08.png) no-repeat center 13px;}
.orderNav ul li:nth-child(9) a {background: url(../images/uicon09.png) no-repeat center 13px;}
.orderNav ul li:nth-child(10) a {background: url(../images/uicon10.png) no-repeat center 13px;}
.orderBox {width: 918px;border:1px solid #379BFF;}
.orderBoxP {border-bottom: 1px solid #379BFF; height: 35px;line-height: 35px;}
.orderBoxP span {display: inline-block; padding:0 20px; height: 35px;line-height: 30px;border-right:1px solid #379BFF;font-size: 14px;cursor: pointer; color:#666;}
#curOrderSP {background: #379BFF; color:#fff;}
.orderBoxP span b {font-size: 22px;margin:0 5px; font-weight: bold; position: relative; top:2px;}
.orderBoxP span strong {font-size: 16px;margin:0 10px; font-weight: normal;}
.orderCon {padding:30px;}
.orderConDemo {}
.orderConDemo p {line-height: 2; font-size: 14px;}
.oConDP1 {width: 194px;height: 35px;background: url(../images/uimg03.png) no-repeat;}
.oConDH1 {font-size: 20px; font-weight: bold;text-align: center;margin:0 0 15px 0;}

.pjTable {width: 100%;}
.pjTable tr th,.pjTable tr td {padding:6px 10px; text-align: center; border:1px solid #379BFF;}
.pjTable tr th {font-size: 14px; padding:0px 0 2px 0; background: #EEF4FA;}
.pjTable tr th b {font-size: 22px;margin:0 5px; font-weight: bold; position: relative; top:2px;}
.pjTable tr td div {height: 42px;line-height: 42px;}
.pjTable tr td:nth-child(2) div select,.pjTable tr td:nth-child(5) div select {width: 180px;height: 30px;border:1px solid #E0E0E0;border-radius:3px;}
.pjTable tr td:nth-child(3) div select,.pjTable tr td:nth-child(6) div select {width: 130px;height: 30px;border:1px solid #E0E0E0;border-radius:3px;}
.pjTable tr td textarea {border:1px solid #E0E0E0;width: 320px; height: 100px; padding:5px; line-height: 1.5;}
.pjTable tr td span {width: 75px;text-align: center; display: inline-block;vertical-align: top;margin-top: 7px;}
.pjTable tr td input[type='submit'] {display:inline-block;width: 80px;cursor:pointer;height: 30px;line-height: 30px;border:1px solid #ccc;background: #F5F5F5;font-size: 14px;text-align: center;margin:10px 0;}
.pjTable tr td input[type='submit']:hover {background: #E8E8E8;}

/* gybwl.html 我的订单-雇佣备忘录 */
.orderBoxP2 {padding:0 15px; height: 45px;line-height: 45px;border-bottom: 1px solid #379BFF;}
.orderBoxP2 a {display:inline-block; float: left; background: url(../images/uicon12.png) no-repeat 0 16px; text-indent: 1.3em; font-size: 14px;}
.orderBoxP2 input {float: right; width: 105px; height: 20px; line-height: 20px; padding:0 5px;font-size: 12px;color:#666;border:1px solid #379BFF; margin-top: 12px;}
.orderBoxCon {}
.orderBCTable {width: 100%;}
.orderBCTable tr th {background: #F5FAFD; padding:5px 15px;}
.orderBCTable tr th i {display: inline-block;width: 14px;height: 15px;background: url(../images/uicon13.png) no-repeat; position: relative;left:6px; top:3px;}
.orderBCTable tr td {border-top:1px solid #379BFF;border-bottom:1px solid #379BFF; padding:10px 15px; line-height: 1.8;}
.orderBCTa1 {margin-left: 6px;}
.orderBCTa2 {display: inline-block;width: 16px;height: 16px;background: url(../images/uicon14.png) no-repeat;float: right;}
.orderBCTtd {text-align: center;border-left: 1px solid #379BFF;}

/* gybwl.html 我的订单-雇佣备忘录 */
.orderJlP {border-bottom: 1px solid #379BFF; height: 35px;line-height: 35px;background: #379BFF; color:#fff; text-align: center;font-size: 15px;}
.orderJlCon {padding:10px 25px;}
.orderJlCon p {line-height: 3;}
.orderJlCon p strong {margin-right: 5px;}
.orderJlSpan {}

/* aycmjz.html 我的订单-阿姨采买记账 */
.orderCmjzP {padding: 0 15px;padding-top: 0px;padding-right: 15px;background:#F5FAFD;padding-bottom: 0px;padding-left: 15px;height: 30px;line-height: 30px;border-right: 1px solid #379BFF;border-left: 1px solid #379BFF;}
.orderCmjzP span {float:left; color:#666;}
.orderCma1 {font-weight: bold; float: right;margin-right: 42px;}
.orderCma2 {display: inline-block;width: 16px;height: 16px; margin-top: 7px;background: url(../images/uicon14.png) no-repeat;float: right;}
.orderCMTable {width:100%;}
.orderCMTable tr th,.orderCMTable tr td {padding:5px 15px; border:1px solid #379BFF; text-align: center;}
.orderCMTable tr td:nth-child(3) {text-align: left;}
.orderDateDiv {width: 100%;height: 600px;}
#orderTjtr {height:45px; color:#999; line-height: 45px;}
#orderTjtr b {color:#666; margin:0 30px;}

/* aycmjz.html 我的订单-阿姨服务日记 */
.orderRjwrap {position: relative; min-height: 300px;}
.orderRjwrap h2 {font-size: 14px;font-weight: bold;color:#555; text-align: center;margin:30px 0;}
.orderRjAl1 {position: absolute; top:50%; left:25px; width: 70px; height: 70px;background: url(../images/uicon27.png) no-repeat; margin-top: -35px; display: inline-block;text-align: center; line-height: 170px;}
.orderRjAl2 {position: absolute; top:50%; right:25px; width: 70px; height: 70px;background: url(../images/uicon28.png) no-repeat; margin-top: -35px; display: inline-block;text-align: center; line-height: 170px;}
.orderRjcon {width: 500px;margin:0 auto; border-left:1px solid #ccc;}
.orderRjdemo {width: 500px; margin:0 auto 20px;}
.orderRjdemo p:first-child {float:left; margin-left: -14px;margin-right: 60px;width: 25px;height: 25px; line-height: 25px;border-radius: 25px;background: #fff;border:1px solid #ccc;text-align: center;font-size: 14px;}
.orderRjdemo p:last-child {line-height: 1.6; float:left; width:420px;}
.orderRjdemo p:last-child time {color:#888;}

/* ddap.html 我的订单-订单安排 */
.orderApwrap {min-height: 300px;}
.orderApcon {width: 500px;margin:0 auto; border-left:1px solid #ccc;}
.orderApdemo {width: 500px; margin:20px auto;}
.orderApp {float:left; margin-left: -9px;margin-right: 60px;width: 15px;height: 15px; border-radius: 15px;background: #fff;border:1px solid #ccc;}
.curOrderApp {background: #FF2F2F;}
.orderApRight {float:left; width:420px;}
.orderApRight p{line-height: 1.8; }
.orderApdemo p b {color:#888; margin:0 25px 0 -5px;}
.orderApRight p:last-child {color:#888;}

/* ddls.html 我的订单-订单历史 */
.orderLsBox {width: 920px; margin-bottom: 20px;}
.orderLsCon {padding:20px 0;}
.orderLsTable tr th,.orderLsTable tr td {padding:5px 15px; border:1px solid #379BFF;}
.orderLsTable tr th {color:#999;}
.orderLsTable tr:first-child td {padding:0;}
.orderLsP {background: #D9E2EB; padding:5px 15px;}
.orderLsP span {margin-right: 30px;}
.orderLsP span small {color:#A6A8A9;}

/* fwayxx.html 我的订单-服务阿姨信息 */
.orderAyxTable {width:100%; margin:10px 0;}
.orderAyxTable tr th,.orderAyxTable tr td {padding:15px;}
.orderAyxTable2 {width: 100%;border-top:1px solid #379BFF;border-bottom:1px solid #379BFF;}
.orderAyxTable2 tr th:first-child,.orderAyxTable2 tr td:first-child {border-left:1px solid #379BFF;}
.orderAyxTable2 tr th:last-child,.orderAyxTable2 tr td:last-child {border-right:1px solid #379BFF;border-left:1px solid #379BFF;}
.orderAyxTable2 tr th {padding:8px 15px; background: #EEF4FA;border-bottom:1px solid #379BFF;}
.orderAyxTable2 tr td {padding:15px;}
.orderAyxPb {border-left: 1px solid #379BFF;border-right: 1px solid #379BFF;border-top: 1px solid #379BFF;height: 35px;line-height: 35px;background: #EEF4FA; text-align: center;}
.orderAyxPb a {margin:0 5px;}
.orderAyxPb a b {font-size:15px; color:#666; margin:0 3px;}
.orderAyxSubTable {width:100%;text-align: center;}
.orderAyxSubTable tr th,.orderAyxSubTable tr td {padding:5px 10px;border:1px solid #379BFF;}
.orderAyxSubTable tr td:nth-child(3) {text-align:left;}

/* zhcz.html 我的订单-在线付款 */
.payBox {width: 878px;padding:20px;font-size: 16px; margin:20px 0;}
.payPInput input {height: 25px;line-height: 25px;padding:0 5px;border-radius:3px; font-size: 16px;color:#f00; font-weight: bold;border:2px solid #379BFF;margin:0 5px;}
.payLine {font-size: 16px;color:#777;padding-bottom:10px;border-bottom:2px solid #EFEFEF; margin-top: 40px;text-indent: .5em;}
.payWay {padding-top: 30px;}
.payWay label {display:block; float:left;width: 190px;height: 45px; margin:8px;background: url(../images/bank_list.gif) no-repeat;border:1px solid #DEDEDE;}
.payWay label input[type='radio'] {display:inline-block;margin:16px 0 0 15px;}
.payWay label:nth-child(1) {background: url(../images/pay_alipay.jpg) no-repeat 50px center;}
.payWay label:nth-child(2) {background: url(../images/pay_weixin.jpg) no-repeat 50px center;}
.payWay label:nth-child(3) {background: url(../images/pay_tenpay.jpg) no-repeat 50px center;}
.payWay label:nth-child(4) {background: none;border:1px solid #fff;}
.payWay label:nth-child(5) {background-position: 46px -318px;}
.payWay label:nth-child(6) {background-position: 46px -364px;}
.payWay label:nth-child(7) {background-position: 46px -272px;}
.payWay label:nth-child(8) {background-position: 46px -229px;}
.payWay label:nth-child(9) {background-position: 46px -457px;}
.payWay label:nth-child(10) {background-position: 46px -679px;}
.payWay label:nth-child(11) {background-position: 46px -180px;}
.payWay label:nth-child(12) {background-position: 46px -3px;}
.payWay label:nth-child(13) {background-position: 46px -503px;}
.payWay label:nth-child(14) {background-position: 46px -129px;}
.payWay label:nth-child(15) {background-position: 46px -586px;}
.payWay label:nth-child(16) {background-position: 46px -46px;}
.payWay label:nth-child(17) {background-position: 46px -715px;}
.payWay label:nth-child(18) {background-position: 46px -87px;}
.payWay label:nth-child(19) {background-position: 46px -542px;}
.payWay label:nth-child(20) {background-position: 46px -412px;}
.payWay label:nth-child(21) {background-position: 46px -745px;}
.payWay label:nth-child(22) {background-position: 46px -779px;}
.payWay label:nth-child(23) {background-position: 46px -812px;}
.payWay label:nth-child(24) {background-position: 44px -846px;}
.payBtn {width: 160px;height: 36px;line-height: 36px; margin-top: 20px;margin-left: 8px;background: #FF1818;font-size: 14px;color:#fff; text-align: center;border-radius:3px;}
.payBtn:hover {filter:alpha(opacity=80); opacity:.8;}

.noOrderBox {height: 150px; padding:150px 0;text-align: center;vertical-align: middle; display: inline-block; font-size: 16px; margin-bottom: 20px;}
.noOrderBox .noOrderBg {display: inline-block; width: 123px;height: 93px;background: url(../images/uicon23.png) no-repeat;}
.noOrderBox .noOrderA:link,.noOrderBox .noOrderA:visited,.noOrderBox .noOrderA:active {color:#f00;}
.noOrderBox .noOrderA:hover {text-decoration: underline;}

/* 新增订单 */
.addOrderP1 {height: 35px; line-height: 35px; background: #379BFF; font-size: 14px;text-align: center;color:#fff;}
.addOrderDiv1 {padding:10px 0; line-height: 1.5;background: #379BFF; font-size: 14px;text-align: center;color:#fff;}
.addOrderP2 {height: 35px; line-height: 35px; background: #27BFFF; font-size: 16px;text-align: center;color:#fff;}
.addOrderP2 span {display: inline-block;width: 459px;height: 35px;cursor:pointer;}
.addOrderP2 .curSpan {background: #fff; color:#555;}
.addOrderBox {padding:10px 20px;}
.addOrderBox p {font-size: 14px;line-height: 3;}
.addOrderBox input[type='text'] {width: 250px;height:23px;padding:0 5px; border:1px solid #E0E0E0;border-radius:2px;}
.addOrderP3 {height: 32px;line-height: 32px;background: #EEF4FA;}
.addOrderP3 span {display: inline-block;width: 459px;height: 32px; text-indent: 1.4em; font-size: 14px;}
.addOrderBL {width: 439px;float:left;border-right:1px solid #EEF4FA;}
.addOrderBR {width: 418px;float:right;padding-left:20px;}
.addOrderBL select {min-width: 200px;min-height:28px; border:1px solid #e0e0e0; margin-left:10px;}
.addOrderBL textarea {width: 250px;height: 95px;padding:5px 6px;margin-left: 10px; border:1px solid #e0e0e0;vertical-align: top; margin-top: 10px;line-height: 1.5;}
.addOrderBR textarea {min-width: 396px; min-height:473px;padding:10px; line-height: 1.6;border:1px solid #e0e0e0;}
.addOrderBtn {margin-bottom: 30px; text-align: right;}
.addOrderBtn input {display: inline-block;width: 200px;height: 40px;line-height: 40px;text-align: center;background: #FF7E27;color:#fff; font-size: 16px;border-radius: 3px;}
.addOrderBtn input:hover {filter:alpha(opacity=80); opacity:.8;}
.addOrderP4 {padding:0 15px;height: 35px; line-height: 35px; background: #379BFF; font-size: 14px;color:#fff;}
.addOrderP4 small {font-size: 12px;}
.addOrderP4 a {float: right;}
.addOrderP4 a:link,.addOrderP4 a:visited,.addOrderP4 a:active {color:#fff;}
.addOrderP4 a:hover {color:#fff; text-decoration: underline;}
.addOrderTable {width:100%;text-align: center;}
.addOrderTable tr th,.addOrderTable tr td {padding:5px 10px;border:1px solid #379BFF;}
.addOrderTable tr td:nth-child(4) {text-align: left;}

/* 我的管家 gjzz.html */
.gjContainer {width: 920px;}
.gjTabP {height: 35px;line-height: 35px;background: #fff;border:1px solid #379BFF;}
.gjTabP span {display:inline-block;padding:0 30px;border-right: 1px solid #379BFF;font-size: 14px;cursor:pointer;}
.curGjSpan {color:#fff;background: #379BFF;}
.gjCon {padding:10px 20px; border-left:1px solid #379BFF; border-right: 1px solid #379BFF; border-bottom: 1px solid #379BFF;}
.zzTop {line-height: 2.8;}
.zzTop b {margin-right: 5px;}
.zzP {width: 918px;background: #EEF4FA; height: 35px;line-height: 35px;text-align: center;font-size: 14px; margin-left: -20px; margin-top: 25px;}
.zzBottom {margin-top: 15px;}
.zzBottom p {line-height: 2.5;}

/* 管家纪实 gjjs.html */
.jsTimeP {position:relative;width: 918px;background: #EEF4FA; height: 35px;line-height: 35px;text-align: center;font-size: 14px; margin-left: -20px;}
.jsTimeP span:first-child {display: inline-block;width: 23px;height: 23px;background: url(../images/uicon15.png) no-repeat; cursor:pointer; position:absolute;left:15px; top:6px;}
.jsTimeP span:last-child {display: inline-block;width: 23px;height: 23px;background: url(../images/uicon16.png) no-repeat; cursor:pointer; position:absolute;right:15px; top:6px;}
#jsTimeB {cursor: pointer; width: 80px; display:inline-block; height: 35px; line-height: 35px;margin:0px 10px;}
.jsList {width: 510px;margin:0 auto; padding-top: 20px; border-left: 1px solid #E0E0E0;}
.jsListDemo {margin-bottom: 25px;}
.jsListDemo div {float:left;}
.jsListDemo div:nth-child(1) {margin-left: -14px;margin-top: -5px;margin-right: 70px;width: 25px;height: 25px;line-height: 25px;border-radius: 25px;background: #fff;border: 1px solid #ccc;text-align: center;font-size: 14px;}
.jsListDemo div:nth-child(2) {width: 60px;margin-right: 30px;} 
.jsListDemo div:nth-child(3) {width: 30px;margin-right: 30px;} 
.jsListDemo div:nth-child(4) {width: 275px;} 
.jsListDemo div:nth-child(4) time {margin-right: 30px;display:inline-block;width: 40px;float:left;}
.jsListDemo div:nth-child(4) span {display:inline-block;width: 170px;line-height: 1.7;float: left;}

/* 投诉管理 */
.tsBox {width: 878px;padding:20px; border:1px solid #379BFF;}
.tsForm {font-size: 14px;}
.tsForm textarea {min-width: 700px; min-height:110px; padding:5px; font-size: 13px;line-height: 1.5;border:2px solid #379BFF;border-radius: 3px;margin-top: 8px;}
.tsForm input[type='submit'] {width: 130px;height: 30px;line-height: 30px; text-align: center;color:#fff; font-size: 14px;background: #FF6600; margin-left: 584px;margin-top: 2px;border-radius: 3px;}
.tsForm input[type='submit']:hover {opacity: .8;filter:alpha(opacity=80);}
.tsP1 {line-height: 1.8;color:#666; margin-top: 10px;padding-bottom: 10px;border-bottom: 1px dashed #999999;}
.tsCon {margin-top: 20px;}
.tsConP {padding-bottom: 5px;margin-top: 10px;border-bottom:1px dashed #999; }
.tsListRjCon {margin-top: 30px;}
.tsListRjCon div p:first-child {margin-top: -5px;}
.tsListRjCon .orderRjdemo p:last-child {line-height: 1.8;}
.tsListRjCon div p time,.tsListRjCon div p span {margin-right: 30px;}
.tsListRjCon .orderRjdemo {margin:0 auto 30px;}

/* 服务有方 */
.gjTabP2 {height: 35px;line-height: 35px;background: #fff;border:1px solid #379BFF;}
.gjTabP2 span {display:inline-block;width: 459px;font-size: 14px;cursor:pointer;text-align: center;}
.curGjSpan {color:#fff;background: #379BFF;}
.yfBox1 {margin-top: 10px;}
.yfHP {padding-bottom: 5px;font-size: 14px;color:#666;border-bottom: 1px solid #e0e0e0;}
.yfHP small {display: inline-block;padding:1px 3px; margin-left: 5px;background: #FFF8E0;}
.yfBox1 p:last-child {width: 866px;height: 120px;padding:5px;border:1px solid #e0e0e0; margin-top: 10px;}
.yfBox2 {margin-top: 20px;}
.fyB2Div {width: 892px; margin-left:-8px;}
.fyB2Div a {display: inline-block; width: 178px;height: 34px;line-height: 34px;text-align: center;border:1px solid #379BFF; margin:15px 20px 5px;}
.fyB2Div a b {font-size: 30px;font-weight: bold;color:#999;position: relative; top:-2px;}
.fyBox3 {margin-top: 20px;}
.fyBox3 p:last-child {width: 866px;height: 120px;padding:5px;border:1px solid #e0e0e0; margin-top: 10px;}
.fyBox4 {margin-top: 20px; position: relative; left:-21px; bottom:-1px;}

/* 家事咨询 */
.zxForm {width: 800px;}
.zxP1 {margin:5px 0 0px 0;}
.zxP1 label {display: inline-block; margin-left:28px;height: 25px;line-height: 25px;}
.zxP1 label input {position: relative;top:-1px;}
.zxP1 a {display: inline-block;width: 90px;height: 25px;line-height: 25px;font-size: 14px;border:1px solid #379BFF;border-radius: 2px;float: right;text-align: center;color:#777;}
.zxForm textarea {min-width: 786px;min-height: 110px;padding: 5px;font-size: 13px;line-height: 1.5;border: 2px solid #379BFF;border-radius: 3px;margin-top: 5px;}
.zxForm input[type='submit']{float: right;height: 32px;line-height: 32px;width: 85px;display: inline-block;font-size: 14px;color:#fff;background: #FF6600;border-radius: 3px;margin-top: 3px;}
.zxForm p:last-child {margin-top: 10px;}
.zxP2 {height: 35px;line-height: 35px;background: #379BFF;padding:0 10px;font-size: 14px;}
.zxP2 a {padding:0 10px; color:#fff;}
.zxP2 a.curzxA {color:#FF6B75;}
.zxP2 a:hover {color:#FF6B75;}
.zxList {padding:10px 20px;}
.zxListCase {border-bottom: 1px dashed #e0e0e0; padding:10px 0; }
.zxListCase p {line-height: 2;}
.zxListCase p:last-child {color:#FF6B75;}

/* 我的评价 */
.pjBox {width: 918px;border:1px solid #379BFF; border-radius: 5px;}
.pjBox-t {height: 33px;padding:8px 20px;background: #379BFF;}
.pjBox-t a {color:#fff;font-size: 14px;}
.pjBox-t a img {width: 33px;height: 33px;display:inline-block;margin-right: 10px;}
.pjBox-c {width: 898px; padding:10px 20px;}
.pjBox-c textarea {line-height: 1.8;color:#666;width: 100%;min-height:220px;}
.pjBox-b {padding:8px 20px;background: #379BFF;}
.pjBox-b p {height: 30px;line-height: 30px; color:#fff; font-size: 14px;width: 700px;float: left;}
.pjBox-b p strong {margin-right: 10px;}
.pjBox-b p label {display: inline-block;margin-right: 20px;}
.pjBox-b p label input[type="text"] {position: relative; top:-1px;}
.pjBox-b input[type='submit'] {display: inline-block;width: 130px;height: 30px;line-height: 30px;text-align: center;background: #FF7E27;color: #fff;font-size: 14px;border-radius: 5px;float: right;}
.pjBox-b input[type='submit']:hover {filter:alpha(opacity=90); opacity:.9;}
.pjBox2 {margin-top: 20px;}
.pjBox2 h3 {font-size: 14px; color:#888;margin-bottom: 10px;}
.pjCase {position:relative; width: 888px;padding:10px 15px; margin-bottom: 15px;border:2px solid #e0e0e0;border-radius: 3px;}
.pjCase div {width: 800px;float: left;}
.pjCase p:first-child {width: 66px;height: 66px;margin-right: 20px; float: left;}
.pjCase p:first-child img {width: 62px;height: 62px;padding:2px; border:2px solid #e0e0e0;}
.pjCase div p:nth-child(1) {width: 800px;height: 20px;line-height: 20px;margin:2px 0 3px 0;}
.pjCase div p:nth-child(1) time {float: right;}
.pjCase div p:last-child {line-height: 1.8;width: 720px;float: left;}
.pjCase .pjPosScore {position: absolute;right:15px;bottom:10px;}

/* 百科问答 */
.bkTabP {height: 40px;line-height: 40px;}
.bkTabP span {width: 135px;display:inline-block;height: 40px;margin-right: 5px;background: #9FBFDE; border-radius: 5px 5px 0 0;text-align: center;font-size: 14px;color:#fff; cursor:pointer;}
.bkTabP span i {display: inline-block;margin-right: 10px;vertical-align: middle;}
.bkTabP span:first-child i {width: 21px;height: 21px;background: url(../images/uicon17.png) no-repeat;}
.bkTabP span:nth-child(2) i {width: 12px;height: 20px;background: url(../images/uicon18.png) no-repeat;}
.bkTabP span:nth-child(3) i {width: 24px;height: 25px;background: url(../images/uicon19.png) no-repeat;}
.bkTabP span:nth-child(4) i {width: 21px;height: 19px;background: url(../images/uicon30.png) no-repeat;}
#ltTabSpan i {width: 20px;height: 23px;background: url(../images/uicon20.png) no-repeat;}
.bkTabP .curbkSpan {background: #379BFF;}
.bkTabCTop {width: 918px;padding:15px 0;border:1px solid #379BFF;}
.bkOptionP {padding:0 15px; border-bottom: 1px solid #379BFF;padding-bottom: 10px;line-height: 1.8;}
.bkOptionP span { display: inline-block; }
.bkOptionP span em {padding:1px 3px;font-style:normal;background: #E0E0E0;}
.bkOptionP span em small {font-size: 14px;margin-left:5px;cursor: pointer;}
.bkOptionDiv {padding:0 15px;position: relative;}
.bkOptionDiv h3 {font-weight: bold;margin:10px 0 5px;}
.bkOptionDiv a {margin-right: 20px;line-height: 1.6;}
.bkOptionDiv .bkOptionPosA {position: absolute; right:15px; top:17px; margin:0; background:#fff;padding:5px 15px; border:1px solid #379BFF;}
.bkForm {margin-left: 15px;margin-top: 15px;}
.bkForm input[type='text'] {width: 240px;height: 26px;line-height: 26px;padding:0 5px;color:#666;border:1px solid #379BFF;}
.bkForm input[type='submit'] {width: 50px;height: 28px;background: #379BFF;text-align: center;color:#fff;}

.bkTabCB {width: 918px;padding:10px 0;border:1px solid #379BFF;margin-top: 20px;border-radius: 3px;}
.bkTabCBT {padding:0 15px 10px 15px;border-bottom:1px solid #379BFF;}
.bkTabCBT p {line-height: 2;}
.bkTabCBB {width: 840px; margin:20px auto;}
.bkTabPhoto {float: left;}
.bkTabPhoto img {width: 62px;height: 62px;padding:2px; border:1px solid #e0e0e0; border-radius: 3px;}
.bkQuestionBox {float: right;width: 740px;border:1px solid #379BFF;}
.bkQBt {height: 30px;padding:8px 15px; background: #379BFF;}
.bkQBt a {font-size: 14px; color:#fff;}
.bkQBt a:first-child i {display: inline-block;width: 30px;height: 30px;background: url(../images/uicon21.png) no-repeat;margin-right: 5px;vertical-align: middle;}
.bkQBt a:last-child {margin-left: 20px; padding-left: 20px;border-left: 1px solid #fff;}
.bkQBt a:last-child i {display: inline-block;width: 30px;height: 30px;background: url(../images/uicon22.png) no-repeat 1px 1px;margin-right: 5px;vertical-align: middle;}
.bkQBc {padding:10px;}
.bkQBc textarea {min-width: 710px; min-height:210px; padding:5px;line-height: 1.6;}
.bkQBb {height: 20px;line-height: 20px;padding: 10px 15px;background: #379BFF; color:#fff;font-size: 14px;}
.bkQBb input:last-child {margin-left: 20px;}
.bkQBbBtn {display: inline-block;width: 150px;height: 35px;line-height: 35px;text-align: center;background: #FF7E27;color: #fff;font-size: 14px;border-radius: 3px; margin-top: 15px;}
.bkQBbBtn:hover {opacity:.8; filter:alpha(opacity=80);}





 /* common css */
 .fl { float:left; }
 .fr { float:right; }
 .clearfix:after { content:' '; display:block; height:0; clear:both; visibility:hidden; }
 .clearfix { display:inline-block; }
 .clearfix { display:block; }
 .preClass { display:block; word-wrap: break-word; word-break:break-all; white-space: pre-wrap; line-height: 1.6em; }
 .boxshadow { box-shadow:0 1px 1px 1px rgba(191,191,191,.8),0 1px 1px 1px rgba(211,211,211,.8),0 1px 1px 1px rgba(241,241,241,.8) }
 .boxshadow { box-shadow: 2px 2px 5px rgba(0,0,0,0.3);border:1px solid #ccc; }
 .myInput { outline: none; border-radius:5px; vertical-align:middle; padding: 3px 8px;width:250px; height:26px; border:1px solid; border-color:#CCC #DDD #DDD #CCC; box-shadow:2px 2px 1px 0 #E7E7E7 inset; -webkit-box-shadow:2px 2px 1px 0 #E7E7E7 inset; -moz-box-shadow:2px 2px 1px 0 #E7E7E7 inset; }
 .w1200 {width: 1200px; margin:0 auto;}
 .tac {text-align: center;}
 .tar {text-align: right;}
 .tal {text-align: left;}
 .fs14 {font-size: 14px;}
 .fs12 {font-size: 12px;}
 .addh5 {height: 5px;}
 .addh10 {height: 10px;}
 .addh20 {height: 20px;}
 .addh200 {height: 200px;}
 .colors1 {color:#909090;}
 .orderAddlh span {line-height: 35px;}
 /* margin 分离 */
 .m10{ margin:10px }
 .m15{ margin:15px }
 .m30{ margin:30px }
 .mt0{ margin-top:0px }
 .mt5{ margin-top:5px }
 .mt10{ margin-top:10px }
 .mt15{ margin-top:15px }
 .mt20{ margin-top:20px }
 .mt30{ margin-top:30px }
 .mt50{ margin-top:50px }
 .mt100{ margin-top:100px }
 .mb10{ margin-bottom:10px }
 .mb0{ margin-bottom:0px }
 .mb15{ margin-bottom:15px }
 .mb20{ margin-bottom:20px }
 .mb30{ margin-bottom:30px }
 .mb50{ margin-bottom:50px }
 .mb100{ margin-bottom:100px }
 .ml5{ margin-left:5px }
 .ml10{ margin-left:10px }
 .ml15{ margin-left:15px }
 .ml20{ margin-left:20px }
 .ml30{ margin-left:30px }
 .ml50{ margin-left:50px }
 .ml100{ margin-left:100px }
 .mr5{ margin-right:5px }
 .mr10{ margin-right:10px }
 .mr15{ margin-right:15px }
 .mr20{ margin-right:20px }
 .mr30{ margin-right:30px }
 .mr50{ margin-right:50px }
 .mr100{ margin-right:100px }
 .pt0 {padding-top:0;}
 .pd0 {padding:0;}
 .pb0 {padding-bottom:0;}
